<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Time Table Scheduler</title>
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header>
        <a href="#" class="logo">Smart Time Table Scheduler</a>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#feedback">Feedback</a></li>
            <li><a href="#profile">Profile</a></li>
        </ul>
    </header>

    <div id="home" class="section">
        <a href="/Signup">
            <button class="btn">
                Get Started&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </a>
    </div>
    <div id="about" class="section">About Us Section</div>
    <div id="contact" class="section">Contact Us Section</div>
    <div id="feedback" class="section">Feedback Section</div>
    <div id="profile" class="section">Profile Section</div>
</body>

</html>