<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Smart Time Table Scheduler</title>
    <link rel="stylesheet" href="/CSS/Dashboard.css">
</head>

<body>
    <header>
        <a href="#" class="logo">SMART TIME TABLE SCHEDULER</a>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#feedback">Feedback</a></li>
            <li><a href="/Signin">Signin&nbsp;<i class="fa-solid fa-arrow-right-to-bracket"
                        style="color: #ffffff;"></i></a></li>
        </ul>
    </header>

    <div id="home">
        <h3>WELCOME TO SMART TIME TABLE SCHEDULER :)<br><br>Optimize Your Schedule, Maximize Your Time!<br><br>EASY
            ACCESS<BR><BR>FAST AND SECURE</h3>
    </div>
    <div id="about">
        <h3>About Us</h3>
        <p>Welcome to Smart Timetable Scheduler, the ultimate solution for colleges for class scheduling. Our
            platform offers an intuitive, automated approach to managing timetables, ensuring no overlaps and optimizing
            resources. With real-time updates and a user-friendly interface, faculty can access schedules with
            ease. Designed to save time, our tool simplifies the scheduling process for everyone. Stay organized,
            efficient,
            and ahead with Smart Timetable Scheduler. Empowering educational institutions for a smarter,hassle-free
            experience.<br><br></p>
        <div id="contact">
            <div class="expand-bar">
                Contact
                <div class="content">
                    E-Mail : <a href="mailto:projecttime2025@gmail.com">projecttime2025@gmail.com</a>
                </div>
            </div>
        </div>
        <br>
        <div id="feedback">
            <div class="exp-bar">
                Feedback
                <div class="feed">
                    We always value your feedback<br><textarea placeholder="Type your Feedback"></textarea><br>
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
        </div>


    </div>



</body>

</html>
