<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Time Table Scheduler</title>
    <link rel="stylesheet" href="/CSS/Dashboard.css">
    <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>

<body>
    <nav>
        <div class="a1">
        <a href="#" class="logo">Smart Time Table Scheduler</a>
        </div>
        <div class="a2">
            <a href="#s1">Home</a>
        <a href="#s2">About Us</a>
        <a href="#s3">Contact Us</a>
        <a href="#s4">Feedback</a>
        <a href="#s5">Profile</a>
        </div>
    </nav>
<div class="x">
    <section id="s1">
        <img id="i1" src="/images/Wave.svg">
        <a href="/Signup">
            <button class="btn">
                Get Started&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </a>
    </section>
</div>
<div class="x">
    <section id="s2"><img id="i2" src="/images/Sprinkle.svg"> <h1>About Us Section</h1></section>
</div>
<div class="x">
    <section id="s3"><img id="i3" src="/images/Sprinkle.svg"> <h1>Contact Us Section</h1></section>
</div>
<div class="x">
    <section id="s4"><img id="i4" src="/images/Sprinkle.svg"><h1>Feedback Section</h1></section>
</div>
<div class="x">
    <section id="s5"><img id="i5" src="/images/Sprinkle.svg"><h1>Profile Section</h1></section>
</div>
</body>

</html>