<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Smart Time Table Scheduler</title>
    <link rel="stylesheet" href="/CSS/Index.css">
</head>
<body>
    <header>
        <div class="menu-toggle">
            <i class="fa-solid fa-bars" id="menu-icon"></i>
        </div>
        <a href="#" class="logo">SMART TIME TABLE SCHEDULER</a>
        <nav class="nav-menu">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#feedback">Feedback</a></li>
                <li><a href="/Signin">Signin <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i></a></li>
            </ul>
        </nav>
    </header>

    <div id="home">
        <h3><span style="font-size:35px">WELCOME TO SMART TIME TABLE SCHEDULER!</span> <br><br>Optimize Your Schedule,
            Maximize Your Time!<br><br>EASY ACCESS<br>FAST AND SECURE</h3>
        <div class="bt"><a href="/Signup">
                <button>Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </a></div>
    </div>
    <section>
        <div id="about">
            <h3>ABOUT US</h3>
            <p>Welcome to Smart Timetable Scheduler, the ultimate solution for
                colleges for class scheduling. Our platform offers an intuitive, automated approach to managing timetables, ensuring no overlaps and
                optimizing resources. With real-time updates and a user-friendly interface, faculty can access schedules with
                ease. Designed to save time, our tool simplifies the scheduling process for everyone. Stay organized,
                efficient, and ahead with Smart Timetable Scheduler. Empowering educational institutions for a smarter, hassle-free
                experience.<br><br></p>
        </div>
        <div id="contact-container">
            <div class="contact-box">
                <h1 id="feedback">Contact</h1>
                <a href="#">projecttime2025@gmail.com</a>
            </div>
            <div class="feedback-box">
                <h3 id="contact">Feedback</h3>
                <form action="mailto:projecttime2025@gmail.com" method="post" enctype="text/plain">
                    <textarea name="message" cols="50" rows="5" placeholder="Enter your feedback"></textarea><br>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <h3 align="center">Designed and Developed by Bhaargav & Gautham</h3>
    </footer>

    <script>
        const menuIcon = document.getElementById('menu-icon');
        const navMenu = document.querySelector('.nav-menu');

        menuIcon.addEventListener('click', () => {
            navMenu.classList.toggle('active');
        });
    </script>
</body>
</html>