<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Signup</title>
   <link rel="stylesheet" href="/CSS/Signup.css">
   <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
   <form action="/Signup" method="post">
       <div class="container">
           <div class="input-group">
           <label for="name">First Name</label>
           <input type="text" name="firstname" placeholder="Enter your name" required>
           <label for="name">Last Name</label>
           <input type="text" name="lastname" placeholder="Enter your name" required>
           <label for="name">Username</label>
           <input type="text" name="username" placeholder="Enter your username" required>
           <label for="password">Password</label>
           <input type="password" name="password" placeholder="Enter your password" required>
           <button>Submit</button>
           <div class="s1">
           <label >Already have account?&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></label><label><a href="./Signin">Signin</a></label>
       </div>
       </div>          
       </div>
   </form>
</body>
</html>





