<html>
   <head>
       <title>Signin</title>
       <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">
       <link rel="stylesheet" href="/CSS/Signin.css">
   </head>
  
<body>
 
       <form action="/Signin" method="post">
           <div class="container">
               <div class="input-group">
               <label for="name">Username</label>
               <input type="text" name="username" placeholder="Enter your username" required>
               <label for="password">Password</label>
               <input type="password" name="password" placeholder="Enter your password" required>
               <button>Submit</button>
               </div>
            </div>
       </form>
 
</body>
</html>




     







