* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 1px;
    background: #00684A;
    color: white;
    left: 0.5%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    border-radius: 30px;

}

header .logo {
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    transition: color 0.3s ease;
}

#home {
    background-image: url("/images/Wave.svg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

#home h3 {
    color: #001E2B;
    font-size: 25px;
    padding: 40px 0px 0px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#about {
    background-color: #001E2B;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    font-size: 20px;
    font-weight: bold;
}

#about h3 {
    text-decoration: underline;
    font-style: italic;
    font-size: 25px;
    padding: 100px 0px 0px 130px;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about h3:hover {
    font-size: 30px;
}


#about p {
    padding: 40px 0px 0px 100px;
    letter-spacing: 2px;

}

header ul li:hover {
    transform: scale(1.1);
}

.expand-bar {
    width: auto;
    height: auto;
    background-color: white;
    color: #001E2B;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 0px;
    transition: all 0.3s ease;
}

.content {
    max-height: 0;
    overflow: hidden;
    background-color: white;
    color: black;
    padding: 0 10px;
    font-size: 18px;
    transition: max-height 0.3s ease;
}

.expand-bar:hover .content {
    max-height: 100px;
    padding: 5px;
}

.exp-bar {
    width: auto;
    height: auto;
    background-color: white;
    color: #001E2B;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 0px;
    transition: all 0.3s ease;
}

.feed {
    max-height: 0px;
    overflow: hidden;
    background-color: white;
    color: #001E2B;
    padding: 0 10px;
    font-size: 18px;
    transition: max-height 0.3s ease;
}

.feed textarea {
    width: 400px;
    height: 200px;
    border: solid;
    border-color: #001E2B;

}

.exp-bar:hover .feed {
    max-height: 600px;
    padding: 10px;
}

.btn {
    background: #001E2B;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: #00684A;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}