<!-- <html>
   <head>
       <title>Signin</title>
       <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">
       <link rel="stylesheet" href="/CSS/Signin.css">
   </head>
  
<body>
 
       <form method="post">
           <div class="container">
               <div class="input-group">
               <label for="name">Username</label>
               <input type="text" name="username" placeholder="Enter your username" required>
               <label for="password">Password</label>
               <input type="password" name="password" placeholder="Enter your password" required>
               <button>Submit</button>
               <label for="">Don't you have an account?</label>&nbsp;&nbsp;<a class="toSignup" href="/Signup">Signup</a>
               </div>
            </div>
       </form>
 
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="icon" href="/images/calendar2.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/CSS/Signin.css">
    <script>
        <% if (error) { %>
            alert(<%- JSON.stringify(error) %>);
        <% } %>
    </script>
</head>
<body>
    <form method="post" action="/Signin">
        <div class="container">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter your username" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
                <button type="submit">Submit</button>
                <label>Don't have an account? <a class="toSignup" href="/Signup">Signup</a></label>
            </div>
        </div>
    </form>
</body>
</html>


     









 


     









 <!-- <html>
   <head>
       <title>Signin</title>
       <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">
       <link rel="stylesheet" href="/CSS/Signin.css">
   </head>
   <body>
       <form method="post" id="signinForm">
           <div class="container">
               <div class="input-group">
                   <label for="name">Username</label>
                   <input type="text" name="username" placeholder="Enter your username" required>
                   <label for="password">Password</label>
                   <input type="password" name="password" placeholder="Enter your password" required>
                   <button type="submit">Submit</button>
                   <label for="">Don't you have an account?</label>  <a class="toSignup" href="/Signup">Signup</a>
               </div>
            </div>
       </form>
       <script>
           document.getElementById('signinForm').addEventListener('submit', function(e) {
               e.preventDefault();
               // Simulate successful signin
               alert('Signin successful! (Simulation - no backend connected)');
               this.reset();
           });
       </script>
   </body>
</html> -->